*{
  margin: 0;
}

body {
  background: url(background.jpg);
  margin: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
  color: white;
}

.root {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 44px;
}

.root h1 {
    font-size: 4rem;
  }

.root .countdown {
  background: -webkit-linear-gradient(#ffffff, #7bdbf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 15px 0 !important;
}
.root .temp {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.root .days {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  justify-content: center;
}
.root .hourly {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.root .hourly-data {
  width: 80vw;
}
.root .hourly-data, .root .chart-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}
.days .day-card {
  margin: 50px 20px;
  background-color: rgba(19, 129, 231, 0.5);
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}

.days .day-card:hover{
    cursor: pointer;
}

.max-temp,
.min-temp {
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 50%;
  margin: 15px 0px;
  padding: 20px;
}

.min-temp {
  background-color: #527bee;
}

.max-temp {
  background-color: lightcoral;
}


.chart-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  body {
    background-image: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .days {
    width: 80vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  h2 {
    font-size: 1.2rem;
  }

  .day-card {
    margin: 10px !important;
  }

  .min-temp,
  .max-temp {
    font-size: 1rem;
  }

  .root {
    height: 160vh;
  }

  .root h1 {
    font-size: 1.6rem;
  }

  .root .countdown {
    font-size: 25px;
  }
}
